@charset "utf-8";

/* reset */
p,ul,ol,li,button{margin:0;padding:0}
img{border:0}
button{border:0;background:transparent;cursor:pointer}
ul,ol{list-style:none}
em{font-style:normal}
a{text-decoration:none}

/* 공통 아이콘 */
.cunit_ico_clip .sp_ccp{display:inline-block;overflow:hidden;background-image:url(../../img/common/sp_ccp.png) !important;background-repeat:no-repeat;vertical-align:top;line-height:999px}
.cunit_ico_clip .sel_clip{width:31px;height:31px;background-position:-590px -85px}
.cunit_ico_clip.on .sel_clip{background-position:-624px -85px}
@media screen and (-webkit-min-device-pixel-ratio:2){
.cunit_ico_clip .sel_clip{background:url(../../img/common/clip_off.svg) 0 0 no-repeat !important;width:30px;height:30px}
.cunit_ico_clip.on .sel_clip{background:url(../../img/common/clip_on.svg) 0 0 no-repeat !important}
}

.cunit_ico_mov{display:block;width:66px;height:24px;background:url(../../img/common/sp_mov.png) no-repeat}
.cunit_ico_mov.big{position:absolute;top:50%;left:50%;width:89px;height:89px;margin:-45px 0 0 -45px;background:url(../../img/product/v2/cdtl_btn_movplay.png) no-repeat}

/* 레시피유닛 */
.cunit_ico_newrecipe,.cunit_ico_forurecipe,.cunit_ico_cliprecipe{display:block;background:url(../../img/recipe/sp_recipe_badge.png) no-repeat}
.cunit_ico_newrecipe{width:58px;height:48px;background-position:0 0}
.cunit_ico_forurecipe{width:53px;height:58px;background-position:-100px 0}
.cunit_ico_cliprecipe{width:50px;height:54px;background-position:-200px 0}

.cunit_recipe_wrap{padding-bottom:80px}

.cunit_recipe_btnarea{margin-top:30px;text-align:center}
.cunit_recipe_btnarea .cunit_recipe_btn{display:inline-block;padding:1px 30px 0;border:1px solid #666;font-size:13px;color:#222;line-height:33px;vertical-align:top;cursor:pointer;text-decoration:none}
.cunit_recipe_btnarea .cunit_recipe_btn .cunit_bu_arr{display:inline-block;width:7px;height:11px;margin:10px -4px 0 5px;*margin-top:1px;background:url(../../img/common/bu_arr2.png) no-repeat;vertical-align:top}
.cunit_recipe_btnarea .cunit_recipe_btn .cunit_tx_bold{font-weight:bold}

.cunit_recipe_noresult{padding-top:172px;background:url(../../img/recipe/bg_recipe_noresult.png) no-repeat 50% 0;text-align:center}
.cunit_recipe_noresult .noresult_desc{font-size:14px;color:#666;line-height:22px}
.cunit_recipe_noresult .noresult_em{display:block;margin-bottom:6px;font-size:24px;color:#222;line-height:32px}
.cunit_recipe_noresult .cunit_recipe_btnarea{margin-top:25px}

.cunit_recipe_list{margin:-16px 0 0 -16px;*zoom:1}
.cunit_recipe_list:after{display:block;clear:both;content:''}
.cunit_recipe_list .cunit_recipe_item{float:left;margin:16px 0 0 16px}
.cunit_recipe_list .cunit_recipe_item.right{float:right}

.cunit_recipe{position:relative;width:243px;height:346px;font-size:12px;font-family:'나눔바른고딕',NanumBarunGothic,dotum,sans-serif;line-height:normal}
.cunit_recipe a:hover,.cunit_recipe a:active,.cunit_recipe a:focus{text-decoration:underline}
.cunit_recipe .cunit_recipe_empty{width:241px;height:344px;border:1px solid #f0f0f0;background:url(../../img/recipe/bg_recipe_empty.jpg) no-repeat 50% 0}
.cunit_recipe .cunit_recipe_thmb{position:relative}
.cunit_recipe .cunit_recipe_thmb a{display:block;text-decoration:none}
.cunit_recipe .cunit_recipe_badge{position:absolute;right:10px;bottom:10px;z-index:1}
.cunit_recipe .cunit_recipe_tag{position:absolute;left:0;bottom:0;z-index:1;*zoom:1}
.cunit_recipe .cunit_recipe_tag:after{display:block;clear:both;content:''}
.cunit_recipe .cunit_tag_primary,.cunit_recipe .cunit_tag_info{float:left;clear:both;padding:1px 15px 0;font-size:12px;color:#fff;line-height:24px;vertical-align:top}
.cunit_recipe .cunit_tag_primary{background:#4acad5}
.cunit_recipe .cunit_tag_info{background:#6c96ca}
.cunit_recipe .cunit_recipe_img{display:block;position:relative}
.cunit_recipe .cunit_recipe_img:after{position:absolute;top:0;right:0;bottom:0;left:0;background:url(../../img/common/bg_opct7.png);content:''}
.cunit_recipe .cunit_recipe_img img{width:100%;vertical-align:top}
.cunit_recipe .cunit_recipe_detail{position:relative;height:84px;padding:15px;border:1px solid #f0f0f0;border-top:0;background:#fff}
.cunit_recipe .cunit_recipe_subject{display:block;overflow:hidden;max-height:38px;font-size:14px;color:#222;line-height:19px;word-break:break-all}
.cunit_recipe .cunit_recipe_view{display:block;margin-top:5px;font-size:12px;color:#888;line-height:16px}
.cunit_recipe .cunit_recipe_customer{position:absolute;right:10px;bottom:10px}
.cunit_recipe_qckmov{display:none;position:absolute;top:0;left:0;z-index:10;width:502px;height:477px;background:#000}
.cunit_recipe_qckmov iframe{vertical-align:top}
.cunit_recipe_qckmov .cunit_recipe_close{position:absolute;top:0;left:100%;width:45px;height:45px;background:#ffca07}
.cunit_recipe_qckmov .cunit_recipe_close span{display:inline-block;margin-top:-4px;color:#333;font-family:verdana;font-size:24px;text-align:center}
.cunit_recipe_qckmov.on{display:block}

.cunit_recipe_movlist{margin:-15px 0 0 -16px;*zoom:1}
.cunit_recipe_movlist:after{display:block;clear:both;content:''}
.cunit_recipe_movlist .cunit_recipe_item{float:left;margin:15px 0 0 16px}
.cunit_recipe.cunit_ty_mov{height:231px}
.cunit_recipe.cunit_ty_mov .cunit_recipe_img:after{display:none}
.cunit_recipe.cunit_ty_mov .cunit_recipe_detail{display:none;position:absolute;top:0;left:0;width:100%;height:100%;padding:0;border:0;background:url(../../img/common/bg_opct80.png);font-size:0;text-align:center}
.cunit_recipe.cunit_ty_mov .cunit_recipe_detail:after{display:inline-block;width:0;height:100%;vertical-align:middle;content:''}
.cunit_recipe.cunit_ty_mov .cunit_recipe_info{display:inline-block;padding:15px;vertical-align:middle}
.cunit_recipe.cunit_ty_mov .cunit_recipe_subject{max-height:50px;font-size:18px;font-weight:bold;color:#fff;line-height:25px}
.cunit_recipe.cunit_ty_mov .cunit_recipe_view{position:relative;margin-top:7px;padding-top:14px;font-size:13px;font-weight:bold;color:#cbcbcb;line-height:15px}
.cunit_recipe.cunit_ty_mov .cunit_recipe_view:after{position:absolute;top:0;left:50%;width:30px;height:4px;margin-left:-15px;background:#ffd800;content:''}
.cunit_recipe.cunit_ty_mov a{display:block;text-decoration:none}
.cunit_recipe.cunit_ty_mov a:hover .cunit_recipe_detail,.cunit_recipe.cunit_ty_mov a:focus .cunit_recipe_detail{display:block}

.cunit_recipe.cunit_ty_big{width:502px;height:477px}
.cunit_recipe.cunit_ty_big .cunit_recipe_img:after{background:url(../../img/recipe/bg_recipe_thmb_shadow.png) repeat-x 50% 100%}
.cunit_recipe.cunit_ty_big .cunit_recipe_detail{position:absolute;right:0;bottom:0;left:0;height:auto;padding:0 30px 20px;border:0;background:transparent}
.cunit_recipe.cunit_ty_big .cunit_recipe_subject{max-height:52px;font-size:22px;font-weight:bold;color:#fff;line-height:normal}
.cunit_recipe.cunit_ty_big .cunit_recipe_view{position:relative;margin-top:11px;padding-top:6px;font-size:13px;font-weight:bold;color:#cbcbcb;line-height:28px}
.cunit_recipe.cunit_ty_big .cunit_recipe_view:after{position:absolute;top:0;left:0;width:30px;height:4px;background:#ffd800;content:''}
.cunit_recipe_item .cunit_product_area{position:relative;width:500px;height:230px;border:1px solid #f0f0f0;border-top:0;background:#fff}
.cunit_recipe_item .cunit_product_area .cunit_product_pointer{position:absolute;bottom:100%;left:50%;height:0;width:0;margin-left:-15px;border:15px solid transparent;border-bottom-color:#fff}

/* 상품유닛 */
.cunit_lst_v{line-height:1.5em}
.cunit_thmb_lst{font-size:0;width:1019px;padding:0 0 0 1px}
.cunit_thmb_lst > li{display:inline-block;vertical-align:top;padding-top:30px;width:232px;margin-right:30px;padding-bottom:24px}
.cunit_thmb_lst > li:nth-child(4n+4){margin-right:0}
.cunit_thmb_lst > li.no_goods{background:url(../../img/common_layout/ready_goods.gif) 50% 50% no-repeat;min-height:232px}
.cunit_thmb_lst > li.cunit_ad .cunit_prod .thmb,
.cunit_thmb_lst > li.cunit_ad .cunit_info,
.cunit_thmb_lst > li.cunit_ad .cunit_opt,
.cunit_thmb_lst > li.cunit_ad .cunit_fund{outline:5px solid #fafafa;background-color:#fafafa}
.cunit_thmb_lst5{width:1020px;padding:0}
.cunit_thmb_lst5 > li{width:180px}
.cunit_thmb_lst5 > li:nth-child(4n+4){margin-right:30px}
.cunit_thmb_lst5 > li:nth-child(5n+5){margin-right:0}
.cunit_thmb_lst3{width:1020px;padding:0}
.cunit_thmb_lst3 > li{width:320px}
.cunit_thmb_lst3 > li:nth-child(4n+4){margin-right:30px}
.cunit_thmb_lst3 > li:nth-child(3n+3){margin-right:0}
.cunit_thmb_w848{width:756px;margin-left:46px}
.cunit_thmb_w848 > li{width:232px}
.cunit_thmb_lst2{width:1020px;padding:0}
.cunit_thmb_lst2 > li{width:495px}
.cunit_thmb_lst2 > li:nth-child(4n+4){margin-right:30px}
.cunit_thmb_lst2 > li:nth-child(2n+2){margin-right:0}
@media \0screen {
.cunit_thmb_lst > li{width:25%;margin-right:0}
.cunit_thmb_lst > li .cunit_prod{margin:0 auto}
.cunit_thmb_lst > li .cunit_info{margin:0 auto;width:232px}
.cunit_thmb_lst5 > li{width:20%}
.cunit_thmb_lst5 > li .cunit_info{width:180px}
.cunit_thmb_lst3 > li{width:33.33%}
.cunit_thmb_lst3 > li .cunit_info{width:320px}
.cunit_thmb_w848 > li{width:33.33%}
.cunit_thmb_w848 > li .cunit_info{width:232px}
.cunit_thmb_lst2 > li{width:50%}
.cunit_thmb_lst2 > li .cunit_info{width:495px}
}

.cunit_thmb_lst > li.clicked .cunit_prod .thmb{border-radius:10px}
.cunit_thmb_lst > li .cunit_prod .bd_click_t{position:absolute;top:-12px;left:10px;right:10px;height:2px;background-color:#222;z-index:10}
.cunit_thmb_lst > li .cunit_prod .bd_click_t:before{content:'';position:absolute;top:0;left:-10px;width:10px;height:10px;border-top:2px solid #222;border-top-left-radius:100%}
.cunit_thmb_lst > li .cunit_prod .bd_click_t:after{content:'';position:absolute;top:0;right:-10px;width:10px;height:10px;border-top:2px solid #222;border-top-right-radius:100%}
.cunit_thmb_lst > li .cunit_prod .bd_click_b{position:absolute;bottom:-2px;left:10px;right:10px;height:2px;background-color:#222;z-index:10}
.cunit_thmb_lst > li .cunit_prod .bd_click_b:before{content:'';position:absolute;bottom:0;left:-10px;width:10px;height:10px;border-bottom:2px solid #222;border-bottom-left-radius:100%;box-shadow:-4px 4px 0px 0px #fff}
.cunit_thmb_lst > li .cunit_prod .bd_click_b:after{content:'';position:absolute;bottom:0;right:-10px;width:10px;height:10px;border-bottom:2px solid #222;border-bottom-right-radius:100%;box-shadow:4px 4px 0px 0px #fff}
.cunit_thmb_lst > li.cunit_t180 .cunit_prod .bd_click_t{top:-5px}
.cunit_thmb_lst > li.cunit_ad .cunit_prod .bd_click_b:before{box-shadow:-4px 4px 0px 0px #fafafa}
.cunit_thmb_lst > li.cunit_ad .cunit_prod .bd_click_b:after{box-shadow:4px 4px 0px 0px #fafafa}

.cunit_prod{position:relative;width:232px}
.cunit_prod .prod_top{height:26px;margin-top:-26px}
.cunit_prod .prod_top .ico_myitem{display:inline-block;width:60px;height:32px;background:url(../../img/common_layout/sp_unit.png) 0 -100px no-repeat;position:relative;z-index:4;vertical-align:top}
.cunit_prod .prod_top .ico_times{display:inline-block;width:auto;height:22px;position:relative;z-index:4;vertical-align:top;color:#222;font-size:11px;font-family:Roboto-Regular,'나눔바른고딕',NanumBarunGothic,dotum,sans-serif;font-weight:bold;line-height:21px;text-align:center;background-color:#ffd040;padding:0 12px;border-radius:11px}
.cunit_prod .prod_top .ico_times:before{content:'';position:absolute;top:22px;left:10px;width:10px;height:10px;background:url(../../img/common_layout/sp_unit.png) -10px -122px no-repeat}
.cunit_prod .prod_top .tx_best{position:relative;font-size:20px;font-family:Roboto-Regular,'나눔바른고딕',NanumBarunGothic,dotum,sans-serif;line-height:24px;font-size:20px;letter-spacing:-.5px;vertical-align:top;font-weight:bold}
.cunit_prod .prod_top .tx_best:before{content:'';position:absolute;top:0;left:0;width:100%;height:3px;background-color:#000}
.cunit_prod .prod_top .tx_click{font-size:13px;font-family:'나눔바른고딕',NanumBarunGothic,dotum,sans-serif;letter-spacing:-.5px;font-weight:bold;float:right;line-height:24px;margin-right:15px}
.cunit_prod .thmb{width:232px;height:232px;overflow:hidden}
.cunit_prod .thmb > .nolink,
.cunit_prod .thmb > a{display:block;position:relative;width:232px;height:232px;overflow:hidden;cursor:pointer}
.cunit_prod .thmb > a:before{content:'';position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,0.03);z-index:3;}
.cunit_prod .cm_bdg_v2{position:absolute;top:0;left:0;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out}
.cunit_prod .cm_bdg_c{-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out}
.cunit_prod .deiv_bdg{position:absolute;top:0;right:0;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out}
.cunit_prod .btm_benefit{position:absolute;bottom:0;right:0;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out}
.cunit_prod .thmb img{position: absolute;top:0;left:0;background-color:#fafafa}
.cunit_prod .thmb .i1{z-index:1}
.cunit_prod .thmb .i2{z-index:2;left:0;top:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 0.2s ease-out;transition:all 0.2s ease-out}
.cunit_prod .soldout_area{position:absolute;bottom:0;left:0;right:0;z-index:5;background:url(../../img/common/bg_itemlst_soldout.png);height:40px}
.cunit_prod .soldout_tx{color:#fff;font-size:14px;line-height:40px;text-align:center}
.cunit_prod .soldout_tx span{font-family:'나눔바른고딕',NanumBarunGothic,dotum,sans-serif}
.cunit_prod .soldout_link{position:absolute;right:5px;bottom:5px;font-size:0;line-height:0}
.cunit_prod .soldout_link button{display:inline-block;overflow:hidden;margin-left:2px;background-image:url(../../img/common_layout/sp_unit.png);background-repeat:no-repeat;}
.cunit_prod .soldout_link .btn_enter{width:30px;height:30px;background-position:-50px -800px}
.cunit_prod .soldout_link .btn_change{width:30px;height:30px;background-position:0 -800px}
.cunit_prod .soldout_link + .soldout_tx{text-align:left;padding-left:10px}
.cunit_prod .gift_done{position:absolute;bottom:0;left:0;width:100%;background:url(../../img/common/bg_itemlst_giftdone.png);text-align:center;z-index:1}
.cunit_prod .gift_done strong{display:inline-block;padding:9px 0 8px;color:#fff;font-size:14px;font-family:'나눔바른고딕',NanumBarunGothic;line-height:18px;font-weight:normal}
.cunit_prod .gift_txt{position:absolute;bottom:0;left:0;width:100%;background:url(../../img/common/bg_itemlst_soldout.png);text-align:center;z-index:1}
.cunit_prod .gift_txt span{display:inline-block;padding:9px 0 8px;color:#fff;font-size:14px;font-family:'나눔바른고딕',NanumBarunGothic;line-height:18px;font-weight:normal}

.cunit_no_goods{text-align:center;border:1px solid #E9E9E9;padding:20px 0 40px}

.prod_chk{font-size:12px;font-family:Roboto-Regular,'나눔바른고딕',NanumBarunGothic,dotum,sans-serif;height:30px;line-height:20px;margin-top:-10px;position:relative;z-index:10}
.prod_chk:after{content:'';display:block;clear:both}
.prod_chk .inp_chk{float:left;margin:4px 5px 0 0}
.prod_chk .inp_chk:disabled{display:none}
.prod_chk label{float:left}
.prod_chk label .buy_num{color:#00aac4}

.cm_bdg_v2{position:absolute;top:0;left:0;width:45px;z-index:3;line-height:0}
.cm_bdg_v2 > span{display:inline-block;width:45px;height:50px;margin-bottom:-5px;background-image:url(../../img/common_layout/sp_bdg.png);background-repeat:no-repeat;font-size:20px;color:#fff;text-align:center;letter-spacing:-.5px;font-family:Roboto-Regular,'나눔바른고딕',NanumBarunGothic,dotum,sans-serif;line-height:50px;overflow:hidden;vertical-align:top}
.cm_bdg_v2 em.per{vertical-align:middle;margin:1px 0 0 1px;font-size:9px}
.cm_bdg_v2 span.di_sale{background-position:0 0}
.cm_bdg_v2 span.di_coupon{background-position:0 -100px;line-height:38px}
.cm_bdg_v2 span.di_enuri{background-position:0 -200px;line-height:38px}
.cm_bdg_v2 span.di_plus{background-position:0 -300px;font-size:15px}
.cm_bdg_v2 span.di_plus2{background-position:0 -400px}
.cm_bdg_v2 span.di_gift{background-position:0 -500px}
.cm_bdg_v2 span.di_better{background-position:0 -600px}
.cm_bdg_v2 span.di_sale2{background-position:0 -700px}
.cm_bdg_v2 span.di_onefree{background-position:0 -800px;font-size:13px}

.cm_bdg_v2.bdg_m{width:64px}
.cm_bdg_v2.bdg_m > span{width:64px;height:70px;margin-bottom:-8px;background-image:url(../../img/common_layout/sp_bdg_dtl.png);font-size:28px;line-height:68px}
.cm_bdg_v2.bdg_m span.di_coupon{background-position:0 -100px;line-height:55px}
.cm_bdg_v2.bdg_m span.di_enuri{background-position:0 -200px;line-height:55px}
.cm_bdg_v2.bdg_m span.di_plus{background-position:0 -300px;font-size:22px}
.cm_bdg_v2.bdg_m span.di_onefree{background-position:0 -900px;font-size:22px}
.cm_bdg_v2.bdg_m span.di_sale2{background-position:0 -1200px}

.cm_bdg_v2.bdg_b{width:90px}
.cm_bdg_v2.bdg_b > span{width:90px;height:100px;margin-bottom:-10px;background-image:url(../../img/common_layout/sp_bdg_b.png);font-size:44px;line-height:96px;letter-spacing:-1px}
.cm_bdg_v2.bdg_b span.di_coupon{line-height:72px}
.cm_bdg_v2.bdg_b span.di_enuri{line-height:72px}
.cm_bdg_v2.bdg_b span.di_plus{font-size:34px}
.cm_bdg_v2.bdg_b span.di_onefree{font-size:34px}
.cm_bdg_v2.bdg_b span.di_onefree em{font-size:28px}
.cm_bdg_v2.bdg_b em.per{font-size:22px}

.deiv_bdg{position:absolute;top:0;right:0;width:50px;z-index:3;line-height:0}
.deiv_bdg > span{display:inline-block;width:50px;height:50px;background-image:url(../../img/common_layout/sp_deiv.png);background-repeat:no-repeat;vertical-align:top}
.deiv_bdg span.ssgdeliv{background-position:0 0}
.deiv_bdg span.ssgdeliv_tr{background-position:0 -100px}
.deiv_bdg span.ssgdeliv_sd{background-position:0 -200px}
.deiv_bdg span.ssgpick{background-position:0 -300px}
.deiv_bdg span.holiday_delivery{background-position:0 -400px}
.deiv_bdg span.sprshp{background-position:0 -500px}
.deiv_bdg span.ico_em_pickup{background-position:0 -600px}
.deiv_bdg span.ico_tr_pickup{background-position:0 -700px}
.deiv_bdg span.ico_eparcel{background-position:0 -800px;width:66px;margin-left:-16px}
.deiv_bdg span.ico_holiday{background-position:0 -900px;width:66px;margin-left:-16px}

.deiv_bdg.bdg_b{width:90px}
.deiv_bdg.bdg_b > span{width:90px;height:90px;background-image:url(../../img/common_layout/sp_deiv_dtl.png);margin:0}
.deiv_bdg.bdg_b span.ssgdeliv{background-position:0 0}
.deiv_bdg.bdg_b span.ssgdeliv_tr{background-position:0 -100px}
.deiv_bdg.bdg_b span.ssgdeliv_sd{background-position:0 -200px}
.deiv_bdg.bdg_b span.ssgpick{background-position:0 -300px}
.deiv_bdg.bdg_b span.holiday_delivery{background-position:0 -400px}
.deiv_bdg.bdg_b span.sprshp{background-position:0 -500px}
.deiv_bdg.bdg_b span.ico_em_pickup{background-position:0 -600px}
.deiv_bdg.bdg_b span.ico_tr_pickup{background-position:0 -700px}
.deiv_bdg.bdg_b span.ico_eparcel{background-position:0 -800px;height:68px;margin-left:0}
.deiv_bdg.bdg_b span.ico_holiday{background-position:0 -900px;height:68px;margin-left:0}

.cm_bdg_c{position:absolute;top:auto;left:0;bottom:0;z-index:3}
.cm_bdg_c > span{display:inline-block;width:66px;height:24px;background-image:url(../../img/common/sp_mov.png);background-repeat:no-repeat;vertical-align:top;}
.cm_bdg_c > span.ico_mv{background-position:0 0}
.cm_bdg_c.bdg_b > span{width:120px;height:46px}
.cm_bdg_c.bdg_b > span.ico_mv{background-position:-71px 0}

.cm_bdg_br{position:absolute;top:auto;right:0;bottom:0;z-index:3}
.cm_bdg_br > span{display:block;background-image:url(../../img/common_layout/sp_unit.png);background-repeat:no-repeat}
.cm_bdg_br > span.ico_lens{width:40px;height:40px;background-position:-50px -900px}
.cm_tx_lens{display:none;position:absolute;bottom:32px;left:0;z-index:4;background-image:url(../../img/common_layout/sp_lens.png);background-repeat:no-repeat;background-position:0 0;width:100%;height:42px;padding-top:16px;text-align:center;font-size:13px;color:#fff;line-height:20px;font-family:'나눔바른고딕',NanumBarunGothic,dotum,sans-serif}

.cunit_prod .exp_area{position:absolute;bottom:0;left:0;right:0;width:100%;z-index:-1;opacity:.01;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";filter:alpha(opacity=1);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 0.25s ease-out;transition:all 0.25s ease-out;overflow:hidden;min-height:40px;max-height:130px}
.cunit_prod .exp_area .opt_bx{font-family:Roboto-Regular,'나눔바른고딕',NanumBarunGothic,dotum,sans-serif;display:table-cell;background:url(../../img/common_layout/bg_opt_bx.png);height:90px;width:212px;padding:0 10px 40px;text-align: center;vertical-align: middle; word-break:break-all;word-wrap:break-word;overflow:hidden;display:none !important}
.cunit_prod .exp_area .opt_bx span{display:inline-block;color:#fff;font-size:12px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:212px;line-height:17px;vertical-align:middle}
.cunit_prod .exp_area .opt_bx em{color:#222;padding-left:3px;padding-right:2px;font-size:12px;line-height:17px;vertical-align:middle}
.cunit_prod .exp_area .util_bx{position:absolute;bottom:0;left:0;right:0;height:40px;background:url(../../img/common_layout/bg_util_bx.png)}
.cunit_prod.cunit_soldout .thmb .exp_area{-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:unset;transition:unset}
.cunit_prod .util_bx{text-align: center}
.cunit_prod .util_bx > a{display:inline-block;width:40px;height:40px;background-image:url(../../img/common_layout/sp_unit.png);background-repeat:no-repeat}
.cunit_prod a.cmqv_btn_view{background-position:0 -450px}
.cunit_prod a.cmqv_btn_view:hover{background-position:-50px -450px}
.cunit_prod a.blank{background-position:0 -500px}
.cunit_prod a.blank:hover{background-position:-50px -500px}
.cunit_prod a.cart{background-position:0 -550px}
.cunit_prod a.cart:hover{background-position:-50px -550px}
.cunit_prod a.lens{background-position:0 -900px;width:40px;height:40px;float:right;margin:0 0 0 -25px}
.cunit_prod a.lens:hover,.cunit_prod a.lens.on{background-position:-50px -900px}
.cunit_prod .cm_clip_item a.sel_clip{position:static;width:40px;height:40px;margin:0;background-image:url(../../img/common_layout/sp_unit.png) !important;background-position:0 -600px;background-repeat:no-repeat}
.cunit_prod .cm_clip_item a.sel_clip:hover{background-position:-50px -600px}
.cunit_prod .cm_clip_item a.sel_clip .tx_on{display:none}
.cunit_prod .cm_clip_item a.sel_clip .tx_off{display:inline}
.cunit_prod .cm_clip_item.on a.sel_clip{background-position:0 -650px}
.cunit_prod .cm_clip_item.on a.sel_clip .tx_on{display:inline}
.cunit_prod .cm_clip_item.on a.sel_clip .tx_off{display:none}
.cunit_prod.cunit_soldout .tt_adinfo_n{opacity:.5;filter:alpha(opacity=50)}
/*.cunit_prod.cunit_soldout .tt_adinfo_n .tt_adinfo_layer{display:none}*/
.cunit_prod.cunit_soldout .tt_adinfo_n.on{opacity:1;filter:alpha(opacity=100)}
.cunit_prod .tt_adinfo_n{width:45px;height:20px;bottom:0;left:0}
.cunit_prod .tt_adinfo_n .btn_tt_adinfo{width:45px;height:20px;background:url(../../img/common_layout/sp_unit.png) -50px -300px no-repeat}
.cunit_prod .thmb.thmb_over .cm_bdg_v2{-webkit-transform:translate(-50px);transform:translate(-50px);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out}
.cunit_prod .thmb.thmb_over .deiv_bdg{-webkit-transform:translate(+50px);transform:translate(+50px);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out}
.cunit_prod .thmb.thmb_over .btm_benefit{-webkit-transform:translate(+50px);transform:translate(+50px);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out}
.cunit_prod .thmb.thmb_over .i1{z-index:1}
.cunit_prod .thmb.thmb_over .i2{z-index:2;width:100%;height:100%;left:0;top:0;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 0.2s ease-out;transition:all 0.2s ease-out}
.cunit_prod .thmb.thmb_over .cm_bdg_c,
.cunit_prod .thmb.thmb_over .cm_bdg_br{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out}
.cunit_prod .thmb.thmb_over .exp_area{bottom:0;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 0.25s ease-out;transition:all 0.25s ease-out;z-index:3}
.cunit_prod .thmb.thmb_over + .tt_adinfo_n{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;z-index:1}
.cunit_prod.cunit_soldout .thmb.thmb_over .exp_area{bottom:40px;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:unset;transition:unset}
.cunit_prod.cunit_soldout .cm_tx_lens{bottom:72px}
.cunit_prod.cunit_soldout .cm_bdg_br{bottom:40px}

.cunit_info{font-size:0;font-family:Roboto-Regular,'나눔바른고딕',NanumBarunGothic,dotum,sans-serif}
.cunit_tp{margin:10px 0 6px}
.cunit_tp:after{content:'';display:block;clear:both}
.cunit_tp .dp_store{display:inline-block;margin-right:5px;line-height:17px;vertical-align:top}
.cunit_tp .dp_store > span{display:inline-block;background-image:url(../../img/common_layout/sp_ico_mall_v3.png);background-repeat:no-repeat;height:17px;vertical-align:top;line-height:17px}
.cunit_tp .dp_store span.ico_sm{background-position:0 0;width:49px}
.cunit_tp .dp_store span.ico_sd{background-position:0 -50px;width:68px}
.cunit_tp .dp_store span.ico_em{background-position:0 -100px;width:49px}
.cunit_tp .dp_store span.ico_tr{background-position:0 -150px;width:59px}
.cunit_tp .dp_store span.ico_bt{background-position:0 -200px;width:28px}
.cunit_tp .dp_store span.ico_tv{background-position:0 -250px;width:72px}
.cunit_tp .dp_store span.ico_si{background-position:0 -300px;width:70px}
.cunit_tp .dp_store span.ico_hwd{background-position:0 -350px;width:42px}
.cunit_tp .dp_store span.ico_outlet{background-position:0 -500px;width:81px}
.cunit_tp .dp_dv{display:inline-block;overflow:hidden;max-width:200px;height:17px;line-height:17px;letter-spacing:-.5px;color:#222;vertical-align:top}
.cunit_tp .dp_dv span{display:inline-block;position:relative;padding-left:11px;font-size:11px;vertical-align:top}
.cunit_tp .dp_dv span:before{content:'';width:2px;height:2px;position:absolute;background-color:#888;top:7px;left:5px}
.cunit_tp .dp_dv span:first-child{padding-left:0}
.cunit_tp .dp_dv span:first-child:before{display:none}

.cunit_md{margin-bottom:5px}
.cunit_md .title{padding-bottom:5px}
.cunit_md .title .brd{display:block;color:#222;font-size:13px;line-height:18px;margin-bottom:1px;overflow:hidden;height:18px;font-weight:normal;font-family:Roboto-Medium,NanumBarunGothicBold,dotum,sans-serif;}
:lang(en) .cunit_md .title .brd,:lang(zh) .cunit_md .title .brd{font-weight:bold}
.cunit_md .title a,
.cunit_md .title .nolink{display:inline-block;overflow:hidden;max-height:51px;font-size:13px;line-height:17px;color:#555;vertical-align:top;word-wrap:break-word;word-break:break-all}
.cunit_md .title a:hover{text-decoration:underline}
.cunit_md .title span{color:#222;display:none}
.cunit_price{position:relative;padding-bottom:2px;font-size:0}
.cunit_price:after{content:'';display:block;clear:both}
.cunit_price .opt_price{display:inline-block;vertical-align:top}
.cunit_price .opt_price .ssg_price{font-size:22px;letter-spacing:-.5px;color:#222;font-family:Roboto-Medium,sans-serif;vertical-align:middle}
.cunit_price .opt_price .ssg_tx{font-size:11px;color:#222;vertical-align:middle;display:inline-block;margin:1px 0 -1px 2px}
.cunit_price .opt_price .ssg_tx .cm_tx_opt{padding-left:2px}
.cunit_price .opt_price .ssg_price_ko{font-size:14px;line-height:18px}
.cunit_price .org_price{display:inline-block;margin:1px 0 -1px 7px;vertical-align:top}
.cunit_price .org_price .ssg_price{color:#777;font-size:14px;letter-spacing:-.5px;text-decoration:line-through;vertical-align:middle}
.cunit_price .org_price .ssg_tx{font-size:11px;color:#777;vertical-align:middle;margin-left:2px}
.dtl_price_wrap{display:inline-block;margin-top:-1px;margin-bottom:-1px;vertical-align:top}
.dtl_price_wrap .btn_price{display:inline-block;background:url(../../img/common_layout/sp_unit_arr.png) 100% 5px no-repeat;width:20px;height:20px;vertical-align:top}
.dtl_price_wrap.on .ly_dtl_price{}
.dtl_price_wrap.on .btn_price{background-position:100% -95px}

.cunit_prw{line-height:18px}
.cunit_prw:after{content:'';display:block;clear:both}
.cunit_prw .prom{display:inline-block;margin-right:5px;font-size:11px;color:#6959ff;vertical-align:top}
.cunit_prw .unit{display:inline-block;font-size:11px;color:#222;vertical-align:top}
:lang(en) .cunit_prw .unit,
:lang(zh) .cunit_prw .unit{display:none}
.cunit_app{padding:13px 0 0;font-size:0}
.cunit_app:after{content:'';display:block;clear:both}
.cunit_app .rating{display:inline-block;vertical-align:top}
.cunit_app .rating .rate_bg{display:inline-block;width:60px;height:18px;background:url(../../img/common_layout/sp_unit.png) 0 3px no-repeat;text-align:left;vertical-align:top}
.cunit_app .rating .rate_bg span{display:inline-block;height:18px;background:url(../../img/common_layout/sp_unit.png) 0 -47px no-repeat;vertical-align:top}
.cunit_app .rating .rate_tx{display:inline-block;margin-left:3px;font-size:11px;line-height:18px;color:#777;vertical-align:top}
.cunit_app .buying{display:inline-block;position:relative;padding-left:10px;font-size:11px;color:#777;vertical-align:top}
.cunit_app > div:before{content:'';width:2px;height:2px;position:absolute;top:8px;left:4px;background-color:#777}
.cunit_app > div:first-child{padding-left:0}
.cunit_app > div:first-child:before{display:none}
.cunit_bene{padding:5px 0 2px;margin-top:5px;position:relative}
.cunit_bene:before{content:'';width:20px;height:1px;position:absolute;top:0;left:0;background-color:#eee}
.cunit_bene .spt_deiv{color:#222;font-weight:bold}
.cunit_bene .spt_deiv:after{content:'';display:block;clear:both}
.cunit_bene .spt_deiv .magicpick_w{display:inline-block;margin-right:5px;font-size:11px;vertical-align:top}
.cunit_bene .spt_deiv .btn_magicpick{white-space:nowrap;background:url(../../img/common_layout/sp_unit_arr.png) 100% 4px no-repeat;padding-right:20px;height:20px;line-height:20px;vertical-align:top;font-size:11px;font-weight:bold;font-family:'나눔바른고딕',NanumBarunGothic,'돋움',Dotum,sans-serif;color:#222}
.cunit_bene .spt_deiv .btn_magicpick:focus,.cunit_bene .spt_deiv .btn_magicpick:active{padding:0 20px 0 0}
.cunit_bene .spt_deiv .btn_magicpick .tx{position:relative;line-height:22px}
.cunit_bene .spt_deiv .btn_magicpick.on{background-position:100% -96px}
.cunit_bene .spt_deiv .magicpick_tip_layer{display:none}
.cunit_bene .spt_deiv .tx_deiv{display:inline-block;height:20px;font-size:11px;line-height:20px;vertical-align:top}
.cunit_bene .spt_deiv .tx_deiv span{display:inline-block;position:relative;padding-left:10px;line-height:20px}
.cunit_bene .spt_deiv .tx_deiv span:before{content:'';width:2px;height:2px;position:absolute;top:8px;left:4px;background-color:#777}
.cunit_bene .spt_deiv .tx_deiv span:first-child{padding-left:0}
.cunit_bene .spt_deiv .tx_deiv span:first-child:before{display:none}
.cunit_bene_lst{line-height:18px;color:#555}
.cunit_bene_lst:after{content:'';display:block;clear:both}
.cunit_bene_lst span{display:inline-block;position:relative;padding-right:10px;font-size:11px;vertical-align:top}
.cunit_bene_lst span:after{content:'';width:2px;height:2px;position:absolute;top:8px;right:4px;background-color:#777}
.cunit_bene_lst span:last-child:after{display:none}
.cunit_prw + .cunit_app{padding-top:0}
.cunit_price + .cunit_app{padding-top:0}

.cunit_tag{min-height:24px;max-height:48px;padding:9px 0 4px;margin-top:5px;position:relative;overflow:hidden}
.cunit_tag:before{content:'';width:20px;height:1px;position:absolute;top:0;left:0;background-color:#eee}
.cunit_tag:after{content:'';display:block;clear:both}
.cunit_tag a{display:inline-block;position:relative;height:22px;margin:0 2px 2px 0;padding:0 9px;border:1px solid #ebebeb;border-radius:12px;font-size:12px;line-height:20px;color:#7a7a7a;text-decoration:none;vertical-align:top}
.cunit_tag a[href]{text-decoration:none;border:1px solid #d8d8d8}
.cunit_tag a[href]:before{display:none}
.cunit_tag a[href]:hover{color:#222;text-decoration:none}
.cunit_tag a[href]:hover:before{background-color:#222}

.cunit_opt{font-size:12px;line-height:18px;padding:6px 0 4px;position:relative;max-height:35px;overflow:hidden;font-family:Roboto-Regular,'나눔바른고딕',NanumBarunGothic,dotum,sans-serif}
.cunit_opt:before{content:'';width:20px;height:1px;position:absolute;top:0;left:0;background-color:#eee}
.cunit_opt .opt_tx{}
.cunit_opt .opt_tx:before{display:inline-block;content:'';width:13px;height:15px;background:url(../../img/common_layout/sp_unit.png) -50px -648px no-repeat;vertical-align:middle}
.cunit_opt .opt_tx .tt{color:#222;padding:0 5px 0 3px}
.cunit_opt .opt_tx .optv{color:#ff5f90}

.cunit_t180 .cunit_prod{width:180px}
.cunit_t180 .cunit_prod .thmb{width:180px;height:180px}
.cunit_t180 .cunit_prod .thmb > a{width:180px;height:180px}
.cunit_t180 .cunit_prod .exp_area .opt_bx{padding:0 5px 40px 5px;width:170px}
.cunit_t180 .cunit_prod .exp_area .opt_bx span{max-width:160px}
.cunit_t180 .cunit_prod .util_bx > a,
.cunit_t180 .cunit_prod .cm_clip_item a.sel_clip{margin:0 -3px 0 -2px}
.cunit_t180 .cunit_prod a.lens{float:none;margin:0}
.cunit_t180 .cunit_md .title .brd{font-size:12px}
.cunit_t180 .cunit_md .title a,.cunit_t180 .cunit_md .title .nolink{max-height:34px;font-size:12px}
.cunit_t180 .cunit_price .opt_price .ssg_price{font-size:20px}
.cunit_t180 .cunit_tp .dp_dv{max-width:108px}
.cunit_t180 .cm_tx_lens{height:40px;background-position:0 -100px}

.cunit_t140 .cunit_prod{width:140px}
.cunit_t140 .cunit_prod .thmb{width:140px;height:140px}
.cunit_t140 .cunit_prod .thmb > a{width:140px;height:140px}
.cunit_t140 .cunit_prod .exp_area .opt_bx{padding:0 5px 40px 5px}
.cunit_t140 .cunit_prod .exp_area .opt_bx span{max-width:140px}
.cunit_t140 .cunit_md .title .brd{font-size:12px}
.cunit_t140 .cunit_info{width:170px}
.cunit_t140 .cunit_md .title a,.cunit_t140 .cunit_md .title .nolink{max-height:34px;font-size:12px}
.cunit_t140 .cunit_price .opt_price .ssg_price{font-size:20px}
.cunit_t140 .cunit_tp{margin-top:5px}
.cunit_t140 .cunit_tp .dp_dv{max-width:88px}

.cunit_t150 .cunit_prod{width:150px}
.cunit_t150 .cunit_prod .thmb{width:150px;height:150px}
.cunit_t150 .cunit_prod .thmb > a{width:150px;height:150px}
.cunit_t150 .cunit_prod .exp_area .opt_bx{padding:0 5px 40px 5px}
.cunit_t150 .cunit_prod .exp_area .opt_bx span{max-width:150px}
.cunit_t150 .cunit_md .title .brd{font-size:12px}
.cunit_t150 .cunit_info{width:170px}
.cunit_t150 .cunit_md .title a,.cunit_t150 .cunit_md .title .nolink{max-height:34px;font-size:12px}
.cunit_t150 .cunit_price .opt_price .ssg_price{font-size:22px}
.cunit_t150 .cunit_tp{margin-top:5px}
.cunit_t150 .cunit_tp .dp_dv{max-width:88px}

.cunit_thmb_lst > li.cunit_t290{width:290px}
.cunit_t290 .cunit_prod{width:290px}
.cunit_t290 .cunit_prod .thmb{width:290px;height:290px}
.cunit_t290 .cunit_prod .thmb > .nolink,
.cunit_t290 .cunit_prod .thmb > a{width:290px;height:290px}
.cunit_t290 .cunit_tp .dp_dv{max-width:200px}

.cunit_thmb_lst > li.cunit_t320{width:320px}
.cunit_t320 .cunit_prod{width:320px}
.cunit_t320 .cunit_prod .thmb{width:320px;height:320px}
.cunit_t320 .cunit_prod .thmb > a{width:320px;height:320px}
.cunit_t320 .cunit_prod a.lens:before{content:'';position:absolute;top:9px;right:59px;width:1px;height:20px;background-color:#c9c9c9}
.cunit_t320 .cunit_prod .exp_area .opt_bx{width:300px}
.cunit_t320 .cunit_prod .exp_area .opt_bx span{max-width:300px}
.cunit_t320 .cm_tx_lens{height:42px;background-position:0 -200px}
.cunit_t320 .cunit_tp .dp_dv{max-width:230px}

.cunit_thmb_lst > li.cunit_t386{width:386px}
.cunit_t386 .cunit_prod{width:386px}
.cunit_t386 .cunit_prod .thmb{width:386px;height:386px}
.cunit_t386 .cunit_prod .thmb > a{width:386px;height:386px}
.cunit_t386 .cunit_prod a.lens:before{content:'';position:absolute;top:9px;right:59px;width:1px;height:20px;background-color:#c9c9c9}
.cunit_t386 .cunit_prod .exp_area .opt_bx{width:300px}
.cunit_t386 .cunit_prod .exp_area .opt_bx span{max-width:300px}
.cunit_t386 .cm_tx_lens{height:42px;background-position:0 -200px}
.cunit_t386 .cunit_tp .dp_dv{max-width:300px}

.cunit_t495 .cunit_prod{width:495px}
.cunit_t495 .cunit_prod .thmb{width:495px;height:495px}
.cunit_t495 .cunit_prod .thmb > a{width:495px;height:495px}
.cunit_t495 .cunit_prod .exp_area .opt_bx{width:475px}
.cunit_t495 .cunit_prod .exp_area .opt_bx span{max-width:475px}
.cunit_t495 .cm_tx_lens{height:42px;background-position:0 -400px}
.cunit_t495 .cunit_tp .dp_dv{max-width:400px}

.cunit_t168 .cunit_prod{width:168px}
.cunit_t168 .cunit_prod .thmb{width:168px;height:168px}
.cunit_t168 .cunit_prod .thmb > a{width:168px;height:168px}
.cunit_t168 .cunit_prod .exp_area .opt_bx{width:148px}
.cunit_t168 .cunit_prod .exp_area .opt_bx span{max-width:148px}
.cunit_t168 .cunit_md .title a{max-height:34px}
.cunit_t168 .cunit_price .opt_price .ssg_price{font-size:18px}

.cunit_t80 .cunit_prod{width:80px}
.cunit_t80 .cunit_prod .thmb{width:80px;height:80px}
.cunit_t80 .cunit_prod .thmb > a{width:80px;height:80px}
.cunit_t80 .cunit_prod .exp_area .opt_bx span{max-width:148px}
.cunit_t80 .cunit_md{margin-bottom:2px}
.cunit_t80 .cunit_md .title a{max-height:17px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;max-width:100%}
.cunit_t80 .cunit_price .opt_price .ssg_price{font-size:18px}

.cunit_tycenter .cunit_price{display:inline-block}
.cunit_tycenter .cunit_info{text-align:center}
.cunit_tycenter .cunit_opt{text-align:center}
.cunit_tycenter .cunit_bene:before{display:none}
.cunit_tycenter .cunit_opt:before{display:none}
.cunit_tycenter .cunit_tag:before{display:none}

.cunit_thmb_lst > li.cunit_col{width:auto;margin:0}
.cunit_col .cunit_prod{float:left}
.cunit_col .cunit_info{float:left;padding-left:10px}
.cunit_col .cunit_app{padding:5px 0 3px}

.ly_dtl_price{display:none;font-family:Roboto-Regular,'나눔바른고딕',NanumBarunGothic,dotum,sans-serif;word-break:break-all;word-wrap:break-word;width:160px;background-color:#fff;box-shadow:3px 5px 5px 0 rgba(0,0,0,.3);border:1px solid #ccc;padding:10px 15px 8px;font-size:11px}
.ly_dtl_price dl{width:160px}
.ly_dtl_price dl:after{content:'';display:block;clear:both}
.ly_dtl_price dt{float:left;height:19px;width:85px;line-height:19px;text-align:left}
.ly_dtl_price dd{float:left;height:19px;width:75px;line-height:19px;text-align:right}
.ly_dtl_price .org{padding-bottom:4px}
.ly_dtl_price .org dt{color:#222;font-weight:bold}
.ly_dtl_price .org dd{color:#222;font-weight:bold}
.ly_dtl_price .sum{border-top:1px solid #E5E5E5;padding-bottom:2px}
.ly_dtl_price .sum dt{color:#222;font-weight:bold}
.ly_dtl_price .sum dd{color:#222;font-weight:bold}
.ly_dtl_price .dis{padding:4px 0 6px;border-top:1px solid #222}
.ly_dtl_price .dis dt{color:#777;padding-left:5px;width:80px;position:relative}
.ly_dtl_price .dis dt:before{content:'';width:1px;height:1px;position:absolute;top:9px;left:0;background-color:#7d7d7d}
.ly_dtl_price .dis dd{color:#777}

.ly_dtl_magicpick{display:none}
.ly_dtl_magicpick .tl_magicpick_lst{font-family:'나눔바른고딕',NanumBarunGothic,'돋움',Dotum,sans-serif;line-height:18px;padding:12px 20px 10px 10px;white-space:nowrap;background-color:#fff;box-shadow:3px 5px 5px 0 rgba(0,0,0,.3);border:1px solid #ccc;min-width:50px}
.ly_dtl_magicpick .tl_magicpick_lst li{display:block;color:#222;font-size:11px;position:relative;padding-left:10px}
.ly_dtl_magicpick .tl_magicpick_lst li:before{content:'';width:2px;height:2px;position:absolute;top:7px;left:4px;background-color:#777}

.tooltipster-base{position:absolute}
.tooltipster-base .ly_dtl_price{display:block}
.tooltipster-base .ly_dtl_magicpick{display:block}
.tooltipster-fade{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-transition-property:opacity;transition-property:opacity}
.tooltipster-fade.tooltipster-show{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}

.cunit_lst_h table{width:100%;border-collapse:collapse}
.cunit_lst_h td{font-family:Roboto-Regular,'나눔바른고딕',NanumBarunGothic,'돋움',Dotum,sans-serif;vertical-align:middle;border-top:1px solid #eee;border-bottom:1px solid #eee;border-right:1px solid #eee;padding-top:15px;padding-bottom:15px}
.cunit_lst_h td:last-child{border-right:none}
.cunit_lst_h thead th{height:18px;padding:11px 0 9px;border-bottom:1px solid #ededed;background:#fafafa;color:#222;font-family:'나눔바른고딕',NanumBarunGothic,dotum,sans-serif;text-align:center;border-top:1px solid #7c7c7c}
.cunit_lst_h thead th .inp_chk{float:left;margin:2px 0 -2px 5px}
.cunit_lst_h .cunit_ul.cunit_ad td{background-color:#fafafa}
.cunit_ul_thmb{width:150px}
.cunit_lst_h td.cunit_ul_thmb{border-right:none}
.cunit_ul_thmb .cunit_prod{width:150px}
.cunit_ul_thmb .cunit_prod .thmb{width:150px;height:150px}
.cunit_ul_thmb .cunit_prod .thmb > a{width:150px;height:150px}
.cunit_ul_thmb .cunit_prod .soldout_area{height:auto}
.cunit_ul_thmb .cunit_prod .soldout_tx{line-height:33px;font-size:14px}
.cunit_ul_thmb .cunit_prod .soldout_tx span{font-size:14px}
.cunit_ul_thmb .cunit_prod .cm_tx_lens{width:134px;height:86px;padding:0;background-position:0 -300px;font-size:0;overflow:hidden;text-indent:-1000em;left:auto;right:-7px}
.cunit_ul_thmb .cunit_prod .exp_area{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);}
.cunit_ul_thmb .cunit_prod .exp_area .util_bx{background:none}
.cunit_ul_thmb .cunit_prod a.lens{background-position:-50px -900px}
.cunit_ul_thmb .cunit_prod .thmb.thmb_over{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);}
.cunit_ul_thmb .cunit_prod .thmb.thmb_over .exp_area{-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:unset;transition:unset}
.cunit_ul_thmb .cunit_prod.cunit_soldout .cm_bdg_br{bottom:35px}
.cunit_ul_thmb .cunit_prod.cunit_soldout .thmb.thmb_over .exp_area{bottom:35px}
.cunit_ul_thmb .cunit_prod.cunit_soldout .cm_tx_lens{bottom:64px}
.cunit_ul_title{padding:0 20px}
.cunit_ul_title .cunit_tag{border-top:0}
.cunit_ul_title .cunit_tp{margin-top:0}
.cunit_ul_title .cunit_md .title{padding-bottom:3px}

.cunit_lst_h td.cunit_ul_chk{vertical-align:top;border-right:none}
.cunit_ul_chk input{width:14px;height:14px;margin-left:5px}

.cunit_ul_store{text-align:center}
.cunit_ul_store .item_store{padding:0 10px}
.cunit_ul_store .item_store span{display:block;color:#222;letter-spacing:-1px;line-height:16px;word-break:break-all;word-wrap:break-word}

.cunit_ul_opt{text-align:center}
.cunit_ul_opt .item_opt{position:relative;margin:-10px 0;padding:0 10px}
.cunit_ul_opt .item_opt .tx_opt{color:#00aac4;font-size:11px;letter-spacing:-1px;line-height:16px;word-break:break-all;word-wrap:break-word}
.cunit_ul_opt .item_opt .tx_opt_set{color:#ff5d54;font-weight:bold}
.item_disabled .cunit_ul_opt .item_opt .tx_opt{color:#888}

.cunit_ul_price{padding:0 19px}
.cunit_ul_price .cunit_price:after{content:'';display:block;clear:both}
.cunit_ul_price .cunit_price .opt_price{float:left;margin:2px 0}
.cunit_ul_price .cunit_price .org_price{float:left;margin-left:0;display:block;clear:both}
:lang(en) .cunit_ul_price .cunit_price .org_price,
:lang(zh) .cunit_ul_price .cunit_price .org_price{float:left;clear:none;margin-left:3px}
.cunit_ul_price .cunit_price .org_price .ssg_price{color:#777}
.cunit_ul_price .cunit_price .org_price .ssg_tx{color:#777}
.cunit_ul_price .cunit_price .dtl_price_wrap{float:left}
.cunit_ul_price .prod_top{height:32px}
.cunit_ul_price .prod_top .ico_myitem{display:inline-block;width:60px;height:32px;background:url(../../img/common_layout/sp_unit.png) 0 -100px no-repeat;position:relative;z-index:4;vertical-align:top}
.cunit_ul_price .prod_top .ico_times{display:inline-block;width:auto;height:22px;position:relative;z-index:4;vertical-align:top;color:#222;font-size:11px;font-family:Roboto-Regular,'나눔바른고딕',NanumBarunGothic,dotum,sans-serif;font-weight:bold;line-height:21px;text-align:center;background-color:#ffd040;padding:0 12px;border-radius:11px}
.cunit_ul_price .prod_top .ico_times:before{content:'';position:absolute;top:22px;left:10px;width:10px;height:10px;background:url(../../img/common_layout/sp_unit.png) -10px -122px no-repeat}
.cunit_ul_price .cunit_app{position:relative;padding-top:8px;margin-top:10px;height:18px}
.cunit_ul_price .cunit_app:after{position:absolute;top:0;left:0;width:20px;height:1px;background-color:#e5e5e5}
.cunit_ul_price .cunit_app .buying{display:inline-block;float:none;padding-left:0}
.cunit_ul_price .cunit_app > div:before{display:none}
.cunit_ul_price .cunit_fund{position: relative;padding-top:22px}
.cunit_ul_price .cunit_fund .bar_w{height:3px}
.cunit_ul_price .cunit_fund .bar_w .bar{height:3px}
.cunit_ul_price .cunit_fund .bar_tx{line-height:18px}
.cunit_ul_price .cunit_fund .tt_urr_n{position: absolute;top:0;left:0}
.cunit_ul_price .cunit_fund .tt_urrinfo_layer{top:-59px}

.cunit_ul_bene{padding:0 19px}
.cunit_ul_bene .cunit_bene{border-top:0;padding:0}
.cunit_ul_bene .cunit_bene:before{display:none}
.cunit_ul_bene .cunit_bene .spt_deiv .magicpick_w{float:none;display:block;margin-right:0;border-bottom:1px solid #eee;padding:0 0 6px 6px;margin-bottom:6px;position:relative}
.cunit_ul_bene .cunit_bene .spt_deiv .magicpick_w:before{content:'';width:2px;height:2px;position:absolute;top:9px;left:0;background-color:#777}
.cunit_ul_bene .cunit_bene .spt_deiv .tx_deiv{float:none;height:auto;line-height:18px}
.cunit_ul_bene .cunit_bene .spt_deiv .tx_deiv span{padding-left:6px;display:block;line-height:18px}
.cunit_ul_bene .cunit_bene .spt_deiv .tx_deiv span:before{display:block;left:0}
.cunit_ul_bene .cunit_bene_lst span{float:none;display:block;padding:0 0 0 6px}
.cunit_ul_bene .cunit_bene_lst span:after{right:0;left:0}
.cunit_ul_bene .cunit_bene_lst span:last-child:after{display:block}

.cunit_ul_btn .util_bx{text-align: center}
.cunit_ul_btn .util_bx > a{display:inline-block;width:40px;height:40px;background-image:url(../../img/common_layout/sp_unit.png);background-repeat:no-repeat}
.cunit_ul_btn a.cmqv_btn_view{background-position:0 -450px}
.cunit_ul_btn a.cmqv_btn_view:hover{background-position:-50px -450px}
.cunit_ul_btn a.blank{background-position:0 -500px}
.cunit_ul_btn a.blank:hover{background-position:-50px -500px}
.cunit_ul_btn a.cart{background-position:0 -550px}
.cunit_ul_btn a.cart:hover{background-position:-50px -550px}
.cunit_ul_btn .cm_clip_item a.sel_clip{position:static;width:40px;height:40px;margin:0;background-image:url(../../img/common_layout/sp_unit.png) !important;background-position:0 -600px;background-repeat:no-repeat}
.cunit_ul_btn .cm_clip_item a.sel_clip:hover{background-position:-50px -600px}
.cunit_ul_btn .cm_clip_item a.sel_clip .tx_on{display:none}
.cunit_ul_btn .cm_clip_item a.sel_clip .tx_off{display:inline}
.cunit_ul_btn .cm_clip_item.on a.sel_clip{background-position:0 -650px}
.cunit_ul_btn .cm_clip_item.on a.sel_clip .tx_on{display:inline}
.cunit_ul_btn .cm_clip_item.on a.sel_clip .tx_off{display:none}
.cunit_ul_btn .util_bx{padding:3px 0 0 29px;text-align:left}
.cunit_ul_btn .util_bx > a{float:left;position:relative}
.cunit_ul_btn .util_bx > a:after{content:'';position:absolute;top:13px;right:0;width:1px;height:14px;background-color:#eee}

.cunit_ul_btn2{position:relative;text-align:right}
.cunit_ul_btn2 .bt_gift_send{display:inline-block;width:85px;height:29px;background:#3fbec7;color:#fff;font-size:13px;font-family:'나눔바른고딕',NanumBarunGothic;letter-spacing:-1px;line-height:29px;text-align:center;text-decoration:none;border-radius:2px}
.cunit_ul_btn2 .bt_item_del{display:inline-block;overflow:hidden;width:13px;height:13px;background:url(../../img/order/sp_case.png) -140px -28px no-repeat;line-height:999px;vertical-align:top;position:absolute;top:10px;right:0}

.cunit_btn_w{padding:0 26px 0 29px}
.cunit_btn_w button{display:block;height:35px;line-height:35px;color:#222;text-align:center;font-size:12px;width:100%;border:1px solid #ccc;font-weight:bold;font-family:'나눔바른고딕',NanumBarunGothic,'돋움',Dotum,sans-serif;margin-top:5px;border-radius:0;background-color:#fff}
.cunit_btn_w button:first-child{margin-top:0}
.cunit_btn_w button:hover{background-color:#222;color:#fff;border-color:#222}
.cunit_btn_w button.btn_change{background-color:#fff;border-color:#ff9b56;color:#f7611a}
.cunit_btn_w button.btn_enter{background-color:#fff;border-color:#ff5d58;color:#ff5d58}
.cunit_btn_w button.btn_change:hover{background-color:#f7611a;border-color:#f7611a;color:#fff}
.cunit_btn_w button.btn_enter:hover{background-color:#ff5d58;border-color:#ff5d58;color:#fff}
.cunit_btn_w .tx_soldout{background-color:#FFF;border-color:#fff;color:#222;font-size:14px;font-weight:bold;text-align:center;padding-bottom:3px}

.cunit_hb_tx{position:relative;font-size:16px;color:#222;line-height:22px;letter-spacing:-.5px;height:37px;border-top:1px solid #65cefa;padding-top:7px}
.cunit_hb_tx:before{content:'';position:absolute;top:-11px;left:19px;width:11px;height:11px;background:url(../../img/common_layout/bu_hb_arr.png) 0 0 no-repeat;}
.cunit_hb_tx p{height:44px;overflow:hidden;font-family:Roboto-Regular,'나눔바른고딕',NanumBarunGothic,dotum,sans-serif}

.content_myssg .cunit_thmb_lst{text-align:left}
.content_myssg .cunit_thmb_lst3{width:790px}
.content_myssg .cunit_thmb_lst3 > li{width:232px;margin-right:47px}
.content_myssg .cunit_thmb_lst3 > li:nth-child(3n+3){margin-right:0}
.content_myssg .cunit_lst_h{text-align:left}
.content_popup .cunit_thmb_lst3{width:790px}
.content_popup .cunit_thmb_lst3 > li{width:232px;margin-right:26px}
.content_popup .cunit_thmb_lst3 > li:nth-child(3n+3){margin-right:0}

@media \0screen {
.content_myssg .cunit_thmb_lst3{padding-left:10px;width:790px}
.content_myssg .cunit_thmb_lst3 > li{width:232px;margin-right:30px}
.content_myssg .cunit_thmb_lst3 > li .cunit_info{width:232px}
.content_myssg .cunit_thmb_lst3 > li:nth-child(3n+3){margin-right:0}
.content_popup .cunit_thmb_lst3{padding-left:10px;width:790px}
.content_popup .cunit_thmb_lst3 > li{width:232px;margin-right:20px}
.content_popup .cunit_thmb_lst3 > li .cunit_info{width:232px}
.content_popup .cunit_thmb_lst3 > li:nth-child(3n+3){margin-right:0}
}

.cunit_times{margin-top:5px}
.cunit_times:after{content:'';display:block;clear:both}
.cunit_times .amount_form{float:left;position:relative}
.cunit_times .amount_form .ip_qty{width:47px;padding-right:14px;height:28px;border:1px solid #F4F4F4;font-size:15px;text-align:center;color:#222;font-family:Roboto-Regular,'나눔바른고딕',NanumBarunGothic,dotum,sans-serif;font-weight:bold}
.cunit_times .amount_form button{background-image:url(../../img/common_layout/sp_unit.png);background-repeat:no-repeat}
.cunit_times .amount_form .btn_aplus{position:absolute;top:1px;right:1px;width:14px;height:14px;background-position:0 -350px}
.cunit_times .amount_form .btn_aminus{position:absolute;top:15px;right:1px;width:14px;height:14px;background-position:-50px -350px}
.cunit_times .amount_btn{float:right}
.cunit_times .amount_btn button{background-color:#FCFCFC;border:1px solid #F4F4F4;font-size:12px;color:#222;font-family:Roboto-Regular,'나눔바른고딕',NanumBarunGothic,dotum,sans-serif;width:80px;height:30px;text-align:center;line-height:29px}
.cunit_times .amount_btn button:first-child{margin-right:-1px}
.cunit_times .amount_btn button span{position:relative;top:-1px}

/* 펀딩 */
.cunit_fund{padding:10px 0 2px 0}
.cunit_fund:after{content:'';display:block;clear:both}
.cunit_fund .bar_w{font-size:0;line-height:0;height:4px;background-color:#E5E5E5}
.cunit_fund .bar_w:after{content:'';display:block;clear:both}
.cunit_fund .bar_w .bar{font-size:0;line-height:0;height:4px;background-color:#6959ff;float:left}
.cunit_fund .bar_tx{font-size:12px;line-height:20px;font-family:Roboto-Medium,NanumBarunGothicBold,dotum,sans-serif;color:#6959ff;text-align:left}
.cunit_fund .bar_tx .end{color:#222}
.cunit_fund .tt_urr_n{float:left;position: relative;height:13px;margin:4px 6px 0 0}
.cunit_fund .tt_urr_n .tt_urrinfo_layer .bg_urrinfo{position:absolute;left:15px;top:100%;width:12px;height:9px;background:url(../../img/common/bg_adinfo_n.png) 0 0 no-repeat}
.cunit_fund .btn_tt_urrinfo{display:inline-block;width:48px;height:13px;background:url(../../img/common_layout/sp_unit.png) 0 -150px no-repeat}
.cunit_fund .tt_urrinfo_layer{display:none;position:absolute;left:24px;top:-67px;z-index:100;padding:8px 10px 7px;background-color:#fff;font-family:'나눔바른고딕',NanumBarunGothic,sans-serif;font-size:12px;color:#222;line-height:16px;text-align:left;white-space:nowrap;-webkit-box-shadow:4px 5px 17px 0 rgba(0,0,0,.3);box-shadow:4px 5px 17px 0 rgba(0,0,0,.3);border:1px solid #eee}
.cunit_fund .tt_urr_n.on .tt_urrinfo_layer{display:block}

/* 몰구분 */
.cmall_ic{font-size:0;display:inline-block;line-height:21px;vertical-align:top}
.cmall_ic > span{display:inline-block;margin-right:4px;background-image:url(../../img/common_layout/sp_ico_mall_v3.png);background-repeat:no-repeat;height:21px;vertical-align:top;line-height:21px}
.cmall_ic span.ico_sm{background-position:-100px 0;width:56px}
.cmall_ic span.ico_sd{background-position:-100px -50px;width:76px}
.cmall_ic span.ico_em{background-position:-100px -100px;width:56px}
.cmall_ic span.ico_tr{background-position:-100px -150px;width:67px}
.cmall_ic span.ico_bt{background-position:-100px -200px;width:35px}
.cmall_ic span.ico_tv{background-position:-100px -250px;width:79px}
.cmall_ic span.ico_si{background-position:-100px -300px;width:76px}
.cmall_ic span.ico_hwd{background-position:-100px -350px;width:48px}
.cmall_ic span.ico_ssg{background-position:-100px -400px;width:65px}
.cmall_ic span.ico_bs{background-position:-100px -450px;width:53px}
.cmall_ic span.ico_outlet{background-position:-100px -500px;width:87px}
.cmall_ic > span.cdtl_ico_item{position:relative;height:19px;padding:0 7px;border:1px solid #e1dfde;font-family:Roboto-Regular,'나눔바른고딕',NanumBarunGothic,dotum,sans-serif;font-size:11px;line-height:19px;color:#222;vertical-align:top;background:#fff}
.exhibition_box .cmall_ic{float:left}
.subject .cmall_ic{float:left}

/* 고해상도 대응 */
@media screen and (-webkit-min-device-pixel-ratio:2){
.cm_bdg_v2 > span{background-image:url(../../img/common_layout/sp_bdg@2x.png);background-size:100px auto}
.cunit_bene .spt_deiv .btn_magicpick,
.dtl_price_wrap .btn_price{background-image:url(../../img/common_layout/sp_unit_arr@2x.png);background-size:16px auto}
.deiv_bdg > span{background-image:url(../../img/common_layout/sp_deiv@2x.png);background-size:100px auto}
.cm_bdg_c > span,
.cunit_prod .tt_adinfo_n .btn_tt_adinfo,
.cunit_prod .util_bx > a,
.cunit_prod .prod_top .ico_myitem,
.cunit_app .rating .rate_bg,
.cunit_app .rating .rate_bg span,
.cunit_ul_btn .util_bx > a,
.cunit_ul_price .prod_top .ico_myitem,
.cunit_prod .soldout_link button,
.cunit_times .amount_form button,
.cunit_fund .btn_tt_urrinfo{background-image:url(../../img/common_layout/sp_unit@2x.png);background-size:100px auto}
.cunit_prod .cm_clip_item a.sel_clip,
.cunit_ul_btn .cm_clip_item a.sel_clip{background-image:url(../../img/common_layout/sp_unit@2x.png) !important;background-size:100px auto}
.cm_bdg_v2.bdg_m > span{background-image:url(../../img/common_layout/sp_bdg_dtl@2x.png);background-size:200px auto}
.deiv_bdg.bdg_b > span{background-image:url(../../img/common_layout/sp_deiv_dtl@2x.png);background-size:100px auto}
.cm_bdg_v2.bdg_b > span{background-image:url(../../img/common_layout/sp_bdg_b@2x.png);background-size:100px auto}
.cunit_tp .dp_store > span,
.cmall_ic > span{background-image:url(../../img/common_layout/sp_ico_mall_v3@2x.png);background-size:300px auto}
.cunit_hb_tx:before{background-image:url(../../img/common_layout/bu_hb_arr@2x.png);background-size:11px auto;}
.cm_bdg_c > span.ico_mv{background:url(../../img/common/sp_mov.png) -35px 0;background-size:250px auto;width:61px;height:24px}
.cm_tx_lens{background-image:url(../../img/common_layout/sp_lens@2x.png);background-size:350px auto;}
.cm_bdg_br > span{background-image:url(../../img/common_layout/sp_unit@2x.png);background-size:100px auto}
}

/* 1280 대응 */
.body_wide_ctn .cunit_thmb_lst{width:1280px;padding-left:0}
.body_wide_ctn .cunit_thmb_lst > li{margin-right:40px;width:290px}
.body_wide_ctn .cunit_thmb_lst > li:nth-child(4n+4){margin-right:0}
.body_wide_ctn .cunit_thmb_lst > li.cunit_col{width:auto}
.body_wide_ctn .cunit_thmb_lst3{width:1280px;padding:0}
.body_wide_ctn .cunit_thmb_lst3 > li{width:386px;margin-right:61px}
.body_wide_ctn .cunit_thmb_lst3 > li:nth-child(4n+4){margin-right:61px}
.body_wide_ctn .cunit_thmb_lst3 > li:nth-child(3n+3){margin-right:0}
.body_wide_ctn .cunit_thmb_lst3 > li.cunit_col{margin-right:51px}
.body_wide_ctn .cunit_thmb_lst3 > li.cunit_col:nth-child(3n+3){margin-right:0}
.body_wide_ctn .cunit_t140 .cunit_info{width:236px}
.body_wide_ctn .cunit_t140 .cunit_tp .dp_dv{max-width:none}
.body_wide_ctn .cunit_t150 .cunit_info{width:236px}
.body_wide_ctn .cunit_t150 .cunit_tp .dp_dv{max-width:none}
.body_wide_ctn .cunit_thmb_lst2{width:1280px;padding:0}
.body_wide_ctn .cunit_thmb_lst2 > li{width:495px;margin-right:0}
.body_wide_ctn .cunit_thmb_lst2 > li:nth-child(odd){margin-left:97px;margin-right:96px}
.body_wide_ctn .cunit_thmb_lst6{width:1280px;padding:0}
.body_wide_ctn .cunit_thmb_lst6 > li{width:180px;margin-right:40px}
.body_wide_ctn .cunit_thmb_lst6 > li:nth-child(4n+4){margin-right:40px}
.body_wide_ctn .cunit_thmb_lst6 > li:nth-child(6n+6){margin-right:0}
.body_wide_ctn .cunit_ul_btn .util_bx{padding:3px 0 0 40px}
.body_wide_ctn .cm_tx_lens{background-image:url(../../img/common_layout/sp_lens2.png)}
@media \0screen {
.body_wide_ctn .cunit_thmb_lst{padding-left:10px}
.body_wide_ctn .cunit_thmb_lst > li{margin-right:30px}
.body_wide_ctn .cunit_thmb_lst6{padding-left:23px}
.body_wide_ctn .cunit_thmb_lst6 > li{margin-right:30px}
.body_wide_ctn .cunit_thmb_lst3{padding-left:20px}
.body_wide_ctn .cunit_thmb_lst3 > li{margin-right:40px}
.body_wide_ctn .cunit_thmb_lst2{padding-left:0}
.body_wide_ctn .cunit_thmb_lst2 > li{margin-left:96px;margin-right:0}
.body_wide_ctn .cunit_thmb_lst > li .cunit_info{margin:0 auto;width:auto}
.body_wide_ctn .cunit_thmb_lst3 > li.cunit_col .cunit_info{width:210px}
}
@media screen and (-webkit-min-device-pixel-ratio:2){
.body_wide_ctn .cm_tx_lens{background-image:url(../../img/common_layout/sp_lens2@2x.png);background-size:500px auto}
}